<div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="container" *ngFor = "let post of posts; let i = index;">
            <div class="section">
                <h6  id={{i}} appStrikethrough><i>{{post.id}}</i> {{post.name}} due on {{post.completeDate | date|uppercase}} you have {{post.completeDate | firstPipe}} days to complete this task</h6>
            </div>
            <button (click)='goToUrl(post.id)' class="btn btn-primary" >details</button>
            <div>
            <button class="btn btn-outline-danger" (click) = "spliceClickedTask(i)"></button>
            </div>
           </div>
    </div>
    <div class="col-md-6">
        <app-new-goals (addGoal) = "addTheGoal($event)"></app-new-goals>
    </div>
    <br>
    <div class="col-md-6">
        <div class="row">
            <blockquote class="blockquote text-center">
            <p class="mb-0">{{quote.quote}}</p>
            <footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
            </blockquote>
        </div>
        <div class="container">
            <ng-progress></ng-progress>
            <h1>My goals</h1>
        </div>
    </div>
</div>